<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Centro medico Galenos</ion-title>
  </ion-toolbar>
</ion-header>

<div *ngFor="let usuario of arrayUsuarios">
  <h3>{{usuario.nombre}}</h3>
  <h3>{{usuario.pwd}}</h3>
</div>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Inicio de Sesion</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form [formGroup]="formLogin">
        <ion-item>
          <ion-label position="floating">Nombre</ion-label>
          <ion-input formControlName="name"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input formControlName="password" type="password"></ion-input>
        </ion-item>
      </form>
      <br>
      <ion-button (click)="ingresar()">
        Iniciar Sesion
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
<ion-footer>
  <ion-toolbar color="primary">
    <ion-button slot="end" [routerLink]=" ['./signup'] ">No tienes cuenta? Registrate aqui!</ion-button>
  </ion-toolbar>
</ion-footer>
