<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title style="text-align: center;">
      CM Galenos      
    </ion-title>       
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
    <div style="float:right">
      <ion-img src="../assets/logoCentroMedico.jpeg" style="height: 70px;"></ion-img> 
    </div> 
  </div>
</ion-content>

<ion-content>
  <div id="container">
    <strong>Bienvenid@ Karla Perez</strong>
  </div>
</ion-content>

<ion-content>
  <ion-item>
    <ion-label>Seleccione Especialidad</ion-label>
    <ion-select placeholder="Especialidad">
      <ion-select-option value="1">Medicina General</ion-select-option>
      <ion-select-option value="2">Pediatra</ion-select-option>
      <ion-select-option value="3">Otorrinolaringología</ion-select-option>
    </ion-select>
  </ion-item>
</ion-content>

<ion-content>
  <ion-item>
    <ion-label>Seleccione Profesional</ion-label>
    <ion-select placeholder="Doctor">
      <ion-select-option value="1">Juan Perez</ion-select-option>
      <ion-select-option value="2">Ignacio García</ion-select-option>
      <ion-select-option value="3">Maite López</ion-select-option>
    </ion-select>
  </ion-item>
</ion-content>

<ion-content style="text-align: center;">
  <ion-button color="success">Enviar</ion-button>
  <ion-button color="danger">Cancelar</ion-button>
</ion-content>
