<ion-header>
  <ion-toolbar>
    <ion-title>Centro medico Galenos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <div id="container">
    <div style="float:center">
      <ion-img src="../../../../assets/logo.jpeg" style="height: 170px;"></ion-img>
    </div>
  </div>

  <ion-button (click)="ingresar()">
    Agendar hora
  </ion-button>
  <ion-button (click)="ingresar()">
    Ver horas disponibles
  </ion-button>
  <ion-button (click)="ingresar()">
    Ver calendario
  </ion-button>

</ion-content>