<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Centro medico Galenos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
    <div style="float: center">
      <ion-img
        src="../../../../assets/logo.jpeg"
        style="height: 270px"
      ></ion-img>
    </div>
  </div>

  <ion-card-content>
    <div style="text-align: center">
      <ion-title>
        <b>Horario de atención</b>
      </ion-title>

      <ion-text>
        <h1>
          Lunes a viernes entre las 9:00 y las 20:00 horas y los días sábado
          entre las 9:00 y las 14:00 horas.
        </h1>
      </ion-text>
    </div>
  </ion-card-content>

  <ion-card>
    <ion-card-content style="text-align: center">
      <ion-button [routerLink]=" ['/tomahoras'] "> Agendar hora </ion-button>
      <ion-button [routerLink]=" ['/tomahoras/horas-disponibles'] ">
        Ver horas disponibles
      </ion-button>
      <ion-button [routerLink]=" [''] ">
        Especialades</ion-button
      >
      <ion-button [routerLink]=" [''] "> Doctores</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
