<ion-header>
  <ion-toolbar>
    <ion-title>horas-disponibles</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list class="ion-margin-top">
    <ion-item>
      <ion-col>
        <ion-row>
          <ion-avatar>
            <img src="https://clinicasm-ws.clinicasantamaria.cl/bus-backend/Content/images/professionals/PABLOALBERTOREYESSANCHEZ.png">
          </ion-avatar>
          <ion-label class="ion-margin-start">NOMBRE DOCTOR</ion-label>
        </ion-row>
        <ion-row class="ion-margin-top">
          <div>
            <mat-card>
              <mat-calendar (selectedChange)="selected = $event"></mat-calendar>
            </mat-card>
          </div>
        </ion-row>
        <ion-row class="ion-margin-top">
          <ion-button>SELECCIONAR</ion-button>
        </ion-row>
      </ion-col>     
    </ion-item>
  </ion-list>
</ion-content>
