<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">Reserva de Horas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-input placeholder="INGRESE RUT"></ion-input>
  </ion-item>

  <ion-list>
    <ion-label>CM</ion-label>
    <ion-select placeholder="Seleccionar uno">
      <ion-select-option>OPCION 1</ion-select-option>
      <ion-select-option>OPCION 2</ion-select-option>
    </ion-select>

    <ion-label>ESPECIALIDAD</ion-label>
    <ion-select placeholder="Seleccionar uno">
      <ion-select-option>OPCION 1</ion-select-option>
      <ion-select-option>OPCION 2</ion-select-option>
    </ion-select>

    <ion-label>MEDICO</ion-label>
    <ion-select placeholder="Seleccionar uno">
      <ion-select-option>OPCION 1</ion-select-option>
      <ion-select-option>OPCION 2</ion-select-option>
    </ion-select>
  </ion-list>

  <ion-button [routerLink]=" ['/tomahoras/especialidades'] ">SIGUIENTE</ion-button>

</ion-content>
