

.nomdia{
    border-style: solid;
    background-color: rgb(76, 146, 238);
    border-color: rgb(76, 146, 238);
    border-radius: 10%;
    color: white;
    font-weight: bold;
    margin: 1px;
    padding: 0px;
    display: inline;
}

.diasanteriores, .otromes{
    border-style:inherit !important; 
    background-color: rgba(177, 165, 165, 0.418) !important;
    color: rgb(143, 142, 142) !important;
}

.dia{
    border-style:inherit;
    background-color: rgb(173, 170, 170);
    color: rgb(61, 61, 61);
    font-weight: bold;
    border-radius: 10%;
    padding: 4px;
    margin: 1px;
}

.disponible{
    border-style:inherit !important;
    background-color: rgb(171, 216, 103) !important;
    color: white !important;

}

.calendario{
    width: 100%;
    margin: 10px;
}

.dia, .disponible{
    cursor: pointer;
}

.container{
    width: 100%;
    padding: 0%;
    margin: 0%;
}